<html>
<head>
    <title>Home</title>
</head>

<body>
    <h2>Welcome to online testing program!</h2>

    <form>
        <input type="button" value="Main page" onClick='location.href="/main"'>
    </form>

</body>
</html>